.tabla{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.tabla h1{
	align-self: center;
}

table{
	width: 99%;
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
}

#top{
			font-weight: bold;
}

table td{
		border: 1px solid black;
		text-align: center;
}