{% extends 'maqueta.html' %}
{% load staticfiles %}
{% block principal %}
<link rel="stylesheet" href="{% static 'css/tabla.css' %}">
    <div class="tabla">
        <h1>Lista de Perros</h1>
        <!-- Si el Usuario Logueado es Admin, entonces muestra estos campos en la Tabla  -->
        {% if actual.is_staff %}
            <table id="listaPerros">
              <tr>
                <td id="top">Nombre</td>
                <td id="top">Raza</td>
                <td id="top">Descripcion</td>
                <td id="top">Foto</td>
                <td id="top">Estado</td>
                <td id="top">Acciones</td>
              </tr>
            </table>
        {% else %}
            <table id="listaPerros">
            <!-- Si el Usuario Logueado NO es Admin, entonces no Muestra las Acciones  -->
              <tr>
                <td id="top">Nombre</td>
                <td id="top">Raza</td>
                <td id="top">Descripcion</td>
                <td id="top">Foto</td>
                <td id="top">Estado</td>
              </tr>
            </table>              
        {% endif %}
    </div>
{% endblock %}
