{% extends 'maqueta.html' %}
{% load static %}
{% block principal %}
<link rel="stylesheet" href="{% static 'css/formulario.css' %}">
    <div class="formu">
      {% if actual.is_staff %}
      <!-- Si el Usuario es Admin, le muestra una tabla con los datos de todos los usuarios del Sistema -->
        <h1>Lista de Personas</h1>
        <table id="listaPersonas">
              <tr>
                <td id="top">Rut</td>
                <td id="top">Nombre</td>
                <td id="top">Apellido</td>
                <td id="top">Fecha de Nacimiento</td>
                <td id="top">Correo Electrónico</td>
                <td id="top">Número Telefónico</td>
                <td id="top">Región</td>
                <td id="top">Ciudad</td>
                <td id="top">Tipo de Casa</td>
                <td id="top">Tipo de Usuario</td>
              </tr>
        </table>
      {% else %}
      <!-- Si no es Admin, aparece un Mensaje de Permisos Insuficientes  -->
        <form class="formu">
          <h1>Sin Permisos Suficientes</h1>
        </form>
      {% endif %}
    </div>

{% endblock %}
