{% extends 'maqueta.html' %}
{% load static %}

{% block principal %}
<link rel="stylesheet" href="{% static 'css/formulario.css' %}">
<form class="formu" method="POST">
    <h1>Login Usuario</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <table>
        <tr>
            <td>Rut:</td><td><input type="text" id="rut"></td>
        </tr>
        <tr>
            <td>Contraseña:</td><td><input type="password" id="contraseña"></td>
        </tr>
    </table>
    <input type="submit" value="Ingresar" class="btn-enviar">
    <table id="otro">
        <tr><td><strong>-- O --</strong></td></tr>
        <tr>
          <td><a href="{% url 'social:begin' 'github' %}"><button class="btn-enviar" id="gi" type="button">Ingreso con GitHub</button></a></td>
        </tr>
     </table>
    
    <a id="olvi" href="/olvido/">Olvidaste tu Contraseña?</a>
    {% if mensaje != "" %}
      <script languaje='javascript'>alert('{{mensaje}}')</script>
    {% endif %}

</form>
{% endblock %}
