{% extends 'maqueta.html' %}
{% load static %}

{% block principal %}
<link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% if registro == 1 %}
  <form id="registroPersona" class="formu" method="POST" action="#">
      <h1>Registro Usuario</h1>
      {% csrf_token %}
      <table>
        <tr>
            <td>Rut:</td><td><input type="text" id="rut" name="rut" required></td>
        </tr>
        <tr>
            <td>Contraseña:</td><td><input type="password" id="contra" name="contra" required></td>
        </tr>
        <tr>
            <td>Nombre:</td><td><input type="text" id="nombre" name="nombre" required></td>
        </tr>
        <tr>
            <td>Apellido:</td><td><input type="text" id="apellido" name="apellido" required></td>
        </tr>
        <tr>
            <td>E-Mail:</td><td><input type="email" id="email" name="email" required></td>
        </tr>
        <tr>
            <td>Fecha de Nacimiento:</td><td><input type="date" id="fechaNacimiento" name="fechaNacimiento" required></td>
        </tr>
        <tr>
            <td>Nro Telefono:</td><td><input type="text" id="numeroFono" name="numeroFono" required></td>
        </tr>
        <tr>
            <td>Region</td><td><select id="region" name="region"><option>Selecione Región</option></select></td>
        </tr>
        <tr>
            <td>Ciudad</td><td><select id="ciudad" name="ciudad"><option>Selecione Ciudad</option></select></td>
        </tr>
        <tr>
            <td>Tipo de Casa</td><td><select id="vivienda" name="vivienda"><option>Selecione Tipo de Casa</option></select></td>
        </tr>
      </table>
      <input type="submit" value="Registrar" class="btn-enviar">
      <!-- ESPACIO PARA EL BOTON DE GITHUB -->
      <table id="otro">
        <tr><td><strong>-- O --</strong></td></tr>
        <tr>
          <td><a href="{% url 'social:begin' 'github' %}"><button class="btn-enviar" id="gi" type="button">Registro con GitHub</button></a></td>
        </tr>
      </table>
      <br>
  </form>
{% else %}
  {% if actual.is_staff %}
    <form id="registroPersona" class="formu" method="POST" action="#">
        <h1>Registro Usuario</h1>
        {% csrf_token %}
        <table>
        <tr>
            <td>Rut:</td><td><input type="text" id="rut"></td>
        </tr>
        <tr>
            <td>Contraseña:</td><td><input type="password" id="contra" name="contra"></td>
        </tr>
        <tr>
            <td>Nombre:</td><td><input type="text" id="nombre"></td>
        </tr>
        <tr>
            <td>Apellido:</td><td><input type="text" id="apellido"></td>
        </tr>
        <tr>
            <td>E-Mail:</td><td><input type="email" id="email"></td>
        </tr>
        <tr>
            <td>Fecha de Nacimiento:</td><td><input type="date" id="fechaNacimiento"></td>
        </tr>
        <tr>
            <td>Nro Telefono:</td><td><input type="text" id="numeroFono"></td>
        </tr>
        <tr>
            <td>Region</td><td><select id="region"><option>Selecione Región</option></select></td>
        </tr>
        <tr>
            <td>Ciudad</td><td><select id="ciudad" name="ciudad"><option>Selecione Ciudad</option></select></td>
        </tr>
        <tr>
            <td>Tipo de Casa</td><td><select id="vivienda" name="vivienda"><option>Selecione Tipo de Casa</option></select></td>
        </tr>
        <tr>
            <td>Tipo de Usuario</td><td><select id="tipo" name="tipo"><option>Selecione Tipo de Usuario</option>
                                                            <option value="Usuario">Usuario</option><option value="Administrador">Administrador</option></select></td>
        </tr>
      </table>
        <input type="submit" value="Registrar" class="btn-enviar">
    </form>
  {% else %}
    <form class="formu">
      <h1>Sin Permisos Suficientes</h1>
    </form>
  {% endif %}
{% endif %}

<!-- SCRIPT PARA LLENAR LOS COMBO BOX CON LAS REGIONES Y TIPO DE CASA -->
      <script>
        // REGIONES
        var regiones=["Arica y Parinacota","Tarapacá","Antofagasta","Atacama","Coquimbo","Valparaiso","Metropolitana de Santiago",
          "Libertador General Bernardo O'Higgins","Maule","Biobío","La Araucanía","Los Ríos","Los Lagos",
          "Aisén del General Carlos Ibáñez del Campo","Magallanes y de la Antártica Chilena","Ñuble"]
        $.each(regiones, function(key, value) { 
          // TOMA CADA UNA DE LAS REGIONES Y LAS AGREGA COMO OPTION AL COMBO BOX  
          $('#region')
             .append($("<option></option>")
             .attr("value",value)
             .text(value)); 
        });

        // TIPOS CASA
        var tiposViv =["Casa con Patio Grande","Casa con Patio Pequeño","Casa sin Patio","Departamento"]

        $.each(tiposViv, function(key, value) {   
          // TOMA CADA UNA DE LOS TIPOS DE CASA Y LAS AGREGA COMO OPTION AL COMBO BOX 
          $('#vivienda')
             .append($("<option></option>")
             .attr("value",value)
             .text(value)); 
        });
      </script>

{% endblock %}
